.login-container {
  display: grid;
  height: 100vh;
  place-content: center;
  background-color: whitesmoke;
}

.login-card {
  width: 40vw;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
  font-size: 1.05rem;
  font-weight: 500;
}

.button {
  display: flex;
  justify-content: flex-end;
}
