<div class="dashboard">
  <h1>Angular Fire Auth Demo</h1>
  <h3>Welcome to Our Dashboard!</h3>
  <h2>Email id : {{ userEmail }}</h2>

  <button mat-raised-button color="warn" routerLink="/auth/delete-user">
    Delete User
  </button>

  <br />

  <button mat-raised-button color="accent" routerLink="/auth/update-password">
    Update Password
  </button>

  <br />

  <button mat-raised-button color="primary" routerLink="/auth/update-email">
    Update Email
  </button>

  <br />

  <button mat-raised-button color="warn" (click)="onLogOutBtnClick()">
    Log Out
  </button>
</div>
